<div id='urls' class='span-24 last'>
<h1>Listing urls</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Uri</th>
    <th>Name</th>
    <th>Description</th>
    <th>Created by</th>
    <th>Votes</th>
  </tr>

<% @urls.each do |url| %>
  <tr>
    <td><%= link_to "Upvote", vote_url_path(url, :vote => 'upvote') %></td>
    <td><%= link_to "Downvote", vote_url_path(url, :vote => 'downvote') %></td>
    <td><%= url.uri %></td>
    <td><%= url.name %></td>
    <td><%= url.description %></td>
    <td><%= User.find(url.created_by).user_name %></td>
    <td><%= url.votes %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Url', new_url_path %>
</div>