<div id='links' class='span-24 last'>
  <h1>Listing links</h1>

  <div class='span-24 last'>
    <div class='span-3 prepend-3'><strong>Link</strong></div>
    <div class='span-12'><strong>Description</strong></div>
    <div class='span-2'><strong>Created By</strong></div>
    <div class='span-2'></div>
  <div class='span-2'></div>
  </div>
  <% for link in @links -%>
    <div id="link_<%=link.id%>" class='span-24 last' style='margin-bottom: 10px'>
      <div id="vote_action_<%=link.id%>" class='span-3'>
        <div id="upvote_<%=link.id%>" class='span-3 last'>
          <% if user_signed_in? and !link.voters.include?(current_user.user_name) %>
            <%= link_to "Upvote", vote_link_path(link, :vote => 'upvote') %>
          <% end %>
        </div>
        <div id="downvote_<%=link.id%>" class='span-3 last'>
          <% if user_signed_in? and !link.voters.include?(current_user.user_name) %>
            <%= link_to "Downvote", vote_link_path(link, :vote => 'downvote') %>
          <% end %>
        </div>
        <div id="votes_<%=link.id%>" class='span-3 last'>
          <%= content_tag('b', "Votes") %> <%= link.votes%>
        </div>
        <div id="created_<%=link.id%>" class='span-3 last'><%= link.created_at.strftime("%Y-%m-%d")%></div>
      </div>
      <div id="name_<%=link.id%>" class='span-3'><%= link_to link.name, link.uri %></div>
      <div id="desc_<%=link.id%>" class='span-12'><%= link.description[0..500]%></div>
      <div id="creator_<%=link.id%>" class='span-2'><%= User.find(link.created_by).user_name %></div>
      <div id="comments_<%=link.id%>" class='span-2'><%= link_to "Comments", new_comment_path(:link => link) %></div>
      <div id="show_<%=link.id%>" class='span-2 last'><%= link_to "Show", link_path(link) %></div>
    </div>
  <% end %>

  <div class='span-24 append-bottom last'><%= will_paginate @links %></div>

  <div class='span-24 append-bottom last'>
    <h3>Search links</h3>
    <%= form_tag('/links/results', :method => "get") do -%>
    <%= text_field_tag('query') -%>
    <%= submit_tag("Submit", :disable_with => 'Submitting...') -%>
    <% end -%>
  </div>

  <div class='span-24 append-bottom last'>
    <%= link_to 'New Link', new_link_path %>
  </div>
</div>