<p id="notice"><%= notice %></p>

<p>
  <b>Uri:</b>
  <%= @link.uri %>
</p>

<p>
  <b>Name:</b>
  <%= @link.name %>
</p>

<p>
  <b>Description:</b>
  <%= @link.description %>
</p>

<p>
  <b>Created by:</b>
  <%= @link.created_by %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
